.messageBlock {
  display: flex;
  align-items: center;
}

.textInput {
  flex-grow: 1;
  border: none;
  height: 20px;
}

.textInput::placeholder {
  color: #90da3d;
}

.attachIcon,
.smileIcon {
  width: 25px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 4px 10px;
}

.submitButton {
  width: 25px;
  height: 25px;
  /* background-color: transparent; */
  border: none;
  background-image: url("../../../static/img/smile.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  cursor: pointer;
}
