.messageBlock {
  display: flex;
  align-items: center;
}

.msg {
  flex-grow: 1;
  border: none;
  height: 20px;
}

.msg::placeholder {
  color: #90da3d;
}

.attachIcon,
.smileIcon,
.mediaIcon {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 2px 10px;
}

.mediaIcon {
  margin-right: 10px;
}
