@import "/default.scss";

.header {
  display: flex;
  background-color: #8639db;
  align-items: center;
  height: 40px;

  img {
    width: 47px;
  }

  .nameSettings {
    flex-grow: 1;

    .name {
      margin-left: 10px;
      font-size: smaller;
      font-weight: bold;
      color: #efefef;
    }

    .image-cropper {
      padding: 10px;

      img {
        width: 50px;
      }
    }
  }
}
