<form class="chatInput">
  <img class="attachIcon" src="../../../static/img/attach.png" alt="Attach">
  {{{text}}}
  <img class="smileIcon" src="../../../static/img/smile.png" alt="Smile"></img>
  {{{submitButton}}}
</form>
