{{>header}}
<main>
  <div id="wrapper">
    <form action="" method="get">
      <div class="fields">
        <label for="login">Enter your login </label>
        <input type="text" name="login" id="login" required />
      </div>
      <div class="fields" id="pass">
        <label for="password">Enter your password </label>
        <input type="password" name="password" id="password" required />
      </div>
      <div id="forgot">
        <a href="src/pages/error/404.html">Forgot password</a>
      </div>
      <div id="logIn">
        {{> button value="LogIn" openPage="openReg()"}}
        <br />
      </div>
    </form>
    <div class="signUp">
      <h3>Not a user</h3>
      {{> button value='SignUp'
          openPage="/"}}
    </div>
  </div>
</main>
