@import "/default.scss";

.authFormCont {
  display: flex;
  justify-content: center;

  .authForm {
    width: 340px;
    padding: 15px 30px 30px;
    box-sizing: border-box;

    .logoBox {
      display: flex;
      justify-content: center;
      margin: 100px;
    }

    [type="password"] {
      margin-bottom: 0px;
    }

    .buttonsCont {
      margin: 0px 80px;

      p {
        text-align: center;
      }
    }
  }
}
