<div class="authFormCont">
<div class="authForm">
  <div class="logoBox">
<img
      src="/static/img/logo.png"
      alt="My Chat Logo"
      id="logo"
      width="100px"
    />
    </div>
      {{> form}}
      {{> link}}
    <div class="buttonsCont">
      {{> button signInBtn}}
      <p>Not a user?</p>
      {{> button signUpBtn}}
    </div>
</div>
</div>
