<div class="authFormCont">
<div class="authForm">
  {{>logo}}
      {{> form}}
      {{> link}}
    <div class="buttonsCont">
      {{> button signInBtn}}
      <p>Not a user?</p>
      {{> button signUpBtn}}
    </div>
</div>
</div>
