<div class="regFormCont">
<div class="regForm">
    <div class="logoBox">
<img
      src={{logoPath}}
      alt="My Chat Logo"
      id="logo"
      width="100px"
    />
    </div>
      {{> form}}
    <div class="buttonCont">
      {{> button regBtn}}
    </div>
</div>
</div>
