/* @import "../../assets/style/colors.scss";
@import "../../assets/style/mixins.scss"; */

.error-page {
  width: 100%;
  height: 100vh;
  padding-bottom: 65px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #fafbfc;
  background-repeat: no-repeat;
  background-position: center;
}

.error-page[data-type="404"] {
  @extend .error-page;
  background-image: url(../../assets/images/404.png);
}

.error-page[data-type="500"] {
  @extend .error-page;
  background-image: url(../../assets/images/500.png);
}

.error-page button {
  @include blueButton();

  width: 218px;
  height: 37px;
}
