.formInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.formInput label {
  margin-right: 20px;
}

.formInput input {
  border-radius: 10px;
  border: 2px solid #8639db;
  transition: 0.3s border-color;
  margin-left: auto;
  height: 30px;
}

input:focus {
  outline: none !important;
  border: 2px solid red;
  border-color: #e585f1 #8edb39;
}
