*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#wrapper {
  flex-direction: row;
  margin: 0;
}

#chatsList {
  background: white;
  flex: 1.5;
  min-height: 100vh;
}

#chat {
  flex: 5;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (min-height: 70px) {
  #contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    font-weight: bold;
    align-items: center;
  }
}

.settings:after {
  content: "\2807";
  font-size: 25px;
}

#messages {
  background: linear-gradient(
    90deg,
    rgba(142, 219, 57, 1) 0%,
    rgba(229, 133, 241, 1) 100%
  );
  min-height: 80vh;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  font-size: smaller;
}

#messages > div {
  border-radius: 1em;
  padding: 0.25em 0.75em;
  margin: 0.0625em;
  max-width: 50%;
}

#messageBlock {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#messageHolder {
  flex: 1;
}

#message {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px;
  border-radius: 3px;
  font-size: smaller;
  outline-width: 0;
}

::placeholder {
  color: grey;
}

[isInbox="true"] {
  align-self: flex-start;
  background-color: #8639db;
  color: #fff;
}
[isInbox="false"] {
  align-self: flex-end;
  background-color: #fff;
}

#chatsList > .chatListContact:first-child {
  background: rgba(229, 133, 241, 1);
}

.chatListContact {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.image-cropper {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
  background: white;
}

.nameLastMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-size: smaller;
}

.nameLastMsg > p:first-child {
  font-weight: bold;
}

.nameLastMsg > p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
