<link rel="stylesheet" href="/src/pages/errors/errors.css" />

<h3>{{desc}}</h3>
<img src={{imgPath}} alt={{desc}} width={{imgWidth}} />
<h4><a href="/src/pages/chats/chats.html">Назад к чатам</a></h4>
