    {{> header}}
      <div id="wrapper">
        <form action="" method="get">
          {{#fields}}
          <div class="fields">
            <label for="login">{{label}} </label>
            <input type="text" id="{{id}}" name="{{id}}" required />
          </div>
          {{/fields}}
          <div id="btn">{{> button value='Register'
          href="/"}}</div>
        </form>
      </div>
