@custom-selector :--inputTextPass input[type="text"], input[type="password"];
:root {
  --font-label-color: #444546;
  --btn-hovered-color: #8639db;
  --font-btn-hovered-color: #8edb39;
}

body {
  color: var(--font-label-color);
  font: 20px Tahoma, sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

#btn {
  margin-top: 50px;
  text-align: center;
}
